<p layout="row"  layout-align="start center">
  <span>A </span>
  <md-menu>
   <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
     white
   </md-button>
   <md-menu-content>
     <md-menu-item><md-button ng-click="setColor(1)">white</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="setColor(2)">rose</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="setColor(3)">red</md-button></md-menu-item>
   </md-menu-content>
  </md-menu>
  <span> wine with a </span>
  <md-menu>
   <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
     clear
   </md-button>
   <md-menu-content>
     <md-menu-item><md-button ng-click="doSomething()">clear</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="doSomething()">hazy</md-button></md-menu-item>
   </md-menu-content>
  </md-menu>
  <span>&nbsp;</span>
  <md-menu>
   <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
     lemon
   </md-button>
   <md-menu-content>
     <md-menu-item><md-button ng-click="doSomething()">lemon</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="doSomething()">gold</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="doSomething()">amber</md-button></md-menu-item>
   </md-menu-content>
  </md-menu>
  <span>colour and a </span>
  <md-menu>
   <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
     pale
   </md-button>
   <md-menu-content>
     <md-menu-item><md-button ng-click="doSomething()">pale</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="doSomething()">medium</md-button></md-menu-item>
     <md-menu-item><md-button ng-click="doSomething()">deep</md-button></md-menu-item>
   </md-menu-content>
  </md-menu>
  <span>intensity.</span>
</p>